@use "~/styling/color.module.scss";

.avatar {
  img {
    margin-bottom: -15px;
    width: 100%;

    animation: 5s ease-in-out alternate infinite shake;
  }

  overflow: hidden;
  border-bottom: 2px solid color.get-theme-color(text-color-accent-primary);
}

@keyframes shake {
  from { transform: rotate(-2deg); }
  to { transform: rotate(2deg); }
}
