@use "~/styling/color.module.scss";
@use "~/styling/font.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.name, .affiriation {
  display: flex;
  flex-direction: column;
}

.primary {
  @include font.use-set("heading");

  font-size: 3em;
  font-weight: 600;
  line-height: 110%;
}

.element {
  display: flex;
  flex-direction: column;
}

.aka {
  color: color.get-theme-color(text-color-secondary)
}

.location {
  font-size: 1.25em;
}
