@use "~/styling/color.module.scss";
@use "~/styling/layout.module.scss";

.wrapper {
  @include layout.centerize;

  width: min(50em, calc(100vw - 4em));
  min-height: 100%;

  margin: 5em 1em;

  color: color.get-theme-color(text-color);
}
