$masking-ease: cubic-bezier(.21,.99,.37,1.01);
$catear-appear-ease: cubic-bezier(.14,1.8,.52,1.25);
$catear-pcpc-ease: ease-in-out;

$pcpc-range: 7deg;

.logoImageWrapper {
  width: 100%;
  text-align: center;

  mask[id="masker"] path {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 31;
    stroke-dashoffset: 31;

    animation: 4.5s $masking-ease anim forwards;
  }

  g[id="main-text"] {
    mask: url(#masker);
  }

  g[id="catear"] {
    opacity: 0%;
    transform: scale(1, 0.25);
    transform-origin: 50% 35%;

    animation:
      0.8s 0.35s $catear-appear-ease forwards appear,
      0.75s 1.10s $catear-pcpc-ease forwards prepare-for-pcpc,
      1.5s 1.85s $catear-pcpc-ease alternate infinite pcpc;
  }

  @keyframes anim {
    from { stroke-dashoffset: 31; }
    to { stroke-dashoffset: 0; }
  }

  @keyframes appear {
    from { transform: scale(1, 0.3); opacity: 100%; }
    to { transform: scale(1, 1); opacity: 100%; }
  }

  @keyframes prepare-for-pcpc {
    from { transform: skewX(0deg); }
    to { transform: skewX($pcpc-range); }
  }

  @keyframes pcpc {
    from { transform: skewX($pcpc-range); }
    to { transform: skewX(-$pcpc-range)}
  }

  @keyframes text-appear {
    from { transform: scale(0.8); opacity: 0%; }
    to { transform: scale(1); opacity: 100%; }
  }
}
