@use "./font.module.scss";

body {
  @include font.use-set(base);

  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
h1, h2, h3, h4, h5, h6 {
  @include font.use-set(heading);
}
