@use "./font.module.scss";
@use "./color.module.scss";

body {
  @include font.use-set(base);

  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: color.get-theme-color(link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font.use-set(heading);
}
