@use "util.module.scss";

$theme-color: (
  background: #f5edf3,
  background-alt: #f5daee,
  background-thin: #fff7fd,
  dark-background: #1c0d18,
  dark-background-alt: #2b1f28,
  text-color: #3d3d3d,
  text-color-secondary: #696969,
  text-color-accent-primary: #e36de1,
  text-color-accent-secondary: #697db3,
  link-color: #5c6ea1,
  terminal-accent: #845683,
  shadow-color: rgba(#000000, 0.25)
);

@function get-theme-color($name) {
  @return util.map-get-with-error($theme-color, $name, "The theme color");
}
