@mixin extendAbsolutely($unset-horizontal: false) {
  position: absolute;
  @if $unset-horizontal {
    left: 0;
    right: 0;
  } @else {
    inset: 0 0 0 0;
  }
}

@mixin centerize {
  display: grid;
  place-items: center;
}
