@use "./util.module.scss";

$breakpoints: (
  "tablet": "screen and (max-width: 767px)",
  "phone": "screen and (max-width: 399px)",
);

@mixin extendAbsolutely($unset-horizontal: false) {
  position: absolute;
  @if $unset-horizontal {
    left: 0;
    right: 0;
  } @else {
    inset: 0 0 0 0;
  }
}

@mixin centerize {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

@mixin for($breakpoint) {
  @media #{util.map-get-with-error($breakpoints, $breakpoint, "The breakpoint")} {
    @content;
  }
}
