@use "~/styling/color.module.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: color.get-theme-color(background-alt);

  padding: 0.5em 0.75em;
}

.name {
  font-size: 1.6em;
  font-weight: 700;

  line-height: 110%;
}

.level {
  font-size: 0.9em;
}
