@use "~/styling/color.module.scss";

%transition-base {
  position: fixed;
  z-index: 200;

  &:before {
    transition: all 750ms;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    content: "";
    width: 170%;
    height: 170%;
    background-color: color.get-theme-color(background-thin);
  }
}

.transition-enter {
  @extend %transition-base;

  &:before {
    transition-delay: 650ms;

    transform-origin: right top;
    transform: skewX(-15deg) scale(1, 1);
  }
}

.transition-enter-active {
  @extend %transition-base;

  &:before {
    transition-delay: 650ms;

    transform-origin: right top;
    transform: skewX(-15deg) scale(0, 1);
  }
}

.transition-exit {
  @extend %transition-base;

  &:before {
    transform-origin: left top;
    transform: skewX(-15deg) scale(0, 1);
  }
}

.transition-exit-active {
  @extend %transition-base;

  &:before {
    transform-origin: left top;
    transform: skewX(-15deg) scale(1, 1);
  }
}

.transition-exit-done {
  @extend %transition-base;

  &:before {
    transform-origin: left top;
    transform: skewX(-30deg) scale(0, 1);
  }
}

