@use "~/styling/color.module.scss";
@use "~/styling/font.module.scss";

%list {
  display: flex;
  flex-direction: column;
}

.wrapper {
  @extend %list;
  gap: 0.5em;
}

.name {
  @extend %list;
}

.primary {
  @include font.use-set("heading");

  font-size: 3em;
  font-weight: 600;
  line-height: 110%;
}

.aka {
  color: color.get-theme-color(text-color-secondary)
}

.affiriation {
  @extend %list;
  gap: 0.5em;
}

.contacts {
  display: flex;
  gap: 0.5em;
}
